<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MappingFilePath" value="C:\Sandip\RnD\ProgrammingDemo\ProgrammingDemo\FilesToProcess\MappingFile.txt" />
		<add key="WordsToEncryptFilePath" value="C:\Sandip\RnD\ProgrammingDemo\ProgrammingDemo\FilesToProcess\WordsToEncryptFile.txt" />
		<add key="EncryptedFilePath" value="C:\Sandip\RnD\ProgrammingDemo\ProgrammingDemo\FilesToProcess\EncryptedFile.txt" />
	</appSettings>
</configuration>